<%- include("partials/header.ejs") %>
            <h1>Mis finanzas</h1>
            <a href="/logout"><button type="button" class="navbutton">LogOut</button></a>
        </section>
        <section class="contenido">
            <div class="card"><h2>cuentas por cobrar</h2><a href="/cobros"><img src="images/cc.jpg"></a></div>
            <div class="card"><h2>cuentas por pagar</h2> <a href="/pagos"><img src="images/cp.png"></a></div>
            <div class="card"><h2>tesoreria</h2><a href="/tesoreria"><img src="images/ts.png"></a></div>
            <div class="card"><h2>estado de resultados</h2> <a href="/resultados"><img src="images/inventario.jpg"></a></div>
            <div class="card"><h2>masa patrimonial</h2> <a href="/patrimonio"><img src="images/patr.jpg"></a></div>
        </section>

    </div>
</body>
</html>