body{
    margin: 0px;
    padding: 0px;
}

.main{
    height: 100vh;
    display: flex;
    background-image: url("../images/Fondo.svg");
    gap: 30px;
    color: #074024;
}

.navbar{
    width: 35%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("Fondo.svg");
}

.contenido{
    min-width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    background-color: white;
    box-shadow: 5px 5px 30px;
}

.contenido_patrimonio{
    min-width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 25px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px;
}

.contenido-tabla{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 65%;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 30px;
}

.contenido-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 65%;
    padding: 30px;
    background-color: white;
    box-shadow: 5px 5px 30px;
}

.card{
    width: 300px;
    text-align: center;
    border-radius: 20px;
}

.card-resultados{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    text-align: center;
    overflow: scroll;
}

.card-r-h{
    display: flex;
    flex-direction: column;
}

.card:hover{
    box-shadow: 5px 5px 30px;
}

img{
    width: 250px;
    height: 250px;
}

a, button a{
    text-decoration: none;
}

h1{
    font-size: 30px;
    color: #074024;
   
}

h2{
    font-size: 20px;
    color: #074024;
   
}

.gastos{
    color: red;
}

#tabla{
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    width: 100%;
      border-collapse: collapse;
      overflow: scroll;

}


th, td{
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

th {
background-color:#074024;;
color: white;
position:sticky;
top:0;
}

.tabla-movil {
    display: none;
  }

.contenido-tabla button, .contenido_patrimonio button, .contenido-login button {
    border-radius: 20px;
    border-color: #01bc61;
    border-style: groove;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 5%;
    background-color: white;
    width:200px;
}

.contenido-tabla button:hover, .contenido_patrimonio button:hover {
    background-color: #01bc6217;
    box-shadow: 5px 5px 20px rgba(9, 131, 70, 0.4);
}

button {
    margin-bottom: 10px;
}

.navbutton{
    margin:10px;
    padding: 15px;
    border-radius: 20px;
    border-color: #074024;
    border-style: groove;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #074024;
    width:200px;
   
}

#boton-eliminar, #boton-editar{
    border: none;
    width: auto;
}

.modificacion_content{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 10px;

}

form {
    background-color: white;
    text-align: center;
    width:50%;
    

}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

form input, form select {
    margin-bottom: 10px;
    text-align: center;
    display: block;
    padding: 10px;
    border-radius: 8px;
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.267);
    font-size:15px;
    width:auto;
    appearance:none;
    -webkit-appearance: none;
	-moz-appearance: none;
}



form input:hover, .form select:hover {
    border-color: #01bc61;
    border-style: groove;
}

form input:focus {
    box-shadow: 0 0 5px #01bc61;
    border-color: #01bc61;
    border-style: groove;
}  


form input[type="submit"] {
    background-color: #01bc61;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 800px){
   .main{
    display: flex;
    flex-direction: column;
    background-image: url("../images/Fondo.svg");
    gap: 20px;
    color: #074024;
   }

   .navbar{
    width: 375px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/Fondo.svg");
   }
   .contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 30px;
   }
   .contenido-tabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 30px;
    }
    .card-resultados{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin: 0px;
        padding:10px;
        text-align: center;
        overflow: scroll;
    }
    .contenido-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-top: 20px;
        background-color: white;
        box-shadow: 5px 5px 30px;
    }
    form {
        background-color: white;
        text-align: center;
        width:80%;
        
    
    }
    .contenido-tabla button, .contenido_patrimonio button, .contenido-login button {
        margin:10px;
        padding: 15px;
        border-radius: 20px;
        border-color: #074024;
        color:white;
        border-style: groove;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        background-color: #074024;
        width:200px;
    }

    h1{
        font-size: 30px;
        color: #074024;
        text-align: center;
       
    }

    .gastos{
        color: red;
    }

    .tabla-movil {
        display: block;
        text-align: center;
    }

    .registro-movil {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f9f9f9;
        text-align: center;
    }
    .registro-movil summary {
        cursor: pointer;
        font-weight: bold;
        text-align: center;
    }

    table {
        display: none;
    }

    .btn-mini {
        font-size: 12px;
        cursor: pointer;
        margin:10px;
        padding: 15px;
        border-radius: 20px;
        color:white;
        border-style: groove;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width:200px;
      }
      
      /* Colores opcionales */
      .btn-mini.rojo {
        background-color: #e74c3c;
        color: white;
    
      }
      
      .btn-mini.azul {
        background-color: #3498db;
        color: white;
      }
      

      form {
        background-color:#f9f9f9 ;
        text-align: center;
        width:80%;
    }

    .btn-excel {
        background-color: white;
        text-align: center;
        width:80%;
    }


    
}